@page
@model vrHR_WebCore.PaymentModel
@{
    ViewData["Title"] = "Payment";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">

    <!-- Fluent Styles-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/FluentStyle/css/bootstrap.min.css">
    <!-- Fluent Design Bootstrap -->
    <link rel="stylesheet" href="~/FluentStyle/css/fluent.css">
    <!-- Micon icons-->
    <link rel="stylesheet" href="~/FluentStyle/css/micon.min.css">
    <!--Custom style -->
    <style>
        body {
            background-color: #fff;
            color: #000;
        }

        .font-weight-bold {
            font-weight: 600 !important;
        }

        h5,
        p {
            font-weight: 400;
        }
    </style>

    <script src="/cdn-cgi/apps/head/EwfbwZVvsBU_QFk3GiE5LA0DwuE.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
    <style>
        .form-wrapper-outer {
            padding: 40px;
            border-radius: 8px;
            margin: auto;
            width: 460px;
            border: 1px solid #DADCE0;
            margin-top: 7%;
        }

            .form-wrapper-outer .form-logo {
                margin: 0px auto 15px;
                width: 100px;
            }

                .form-wrapper-outer .form-logo img {
                    width: 100%;
                }

        .form-greeting {
            text-align: center;
            font-size: 25px;
            margin-bottom: 15px;
        }

        .form-button {
            text-align: right;
        }

        .field-wrapper {
            position: relative;
            margin-bottom: 15px;
        }

            .field-wrapper input {
                border: 1px solid #DADCE0;
                padding: 15px;
                border-radius: 4px;
                width: 100%;
            }

                .field-wrapper input:focus {
                    border: 1px solid #1A73E8;
                }

            .field-wrapper .field-placeholder {
                font-size: 16px;
                position: absolute;
                /* background: #fff; */
                bottom: 17px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: #80868b;
                left: 8px;
                padding: 0 8px;
                -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
                transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
                z-index: 1;
                text-align: left;
                width: 100%;
            }

                .field-wrapper .field-placeholder span {
                    background: #ffffff;
                    padding: 0px 8px;
                }

            .field-wrapper input:not([disabled]):focus ~ .field-placeholder {
                color: #1A73E8;
            }

            .field-wrapper input:not([disabled]):focus ~ .field-placeholder,
            .field-wrapper.hasValue input:not([disabled]) ~ .field-placeholder {
                -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
                transform: scale(.75) translateY(-39px) translateX(-60px);
            }
    </style>
    <script>

        $(function () {

            $(".field-wrapper .field-placeholder").on("click", function () {
                $(this).closest(".field-wrapper").find("input").focus();
            });
            $(".field-wrapper input").on("keyup", function () {
                var value = $.trim($(this).val());
                if (value) {
                    $(this).closest(".field-wrapper").addClass("hasValue");
                } else {
                    $(this).closest(".field-wrapper").removeClass("hasValue");
                }
            });

        });

    </script>
</head>



@*<h1>Pay @pay.Amount</h1>*@

<form method="POST">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <label asp-for="ErrorMessage" class="text-danger"></label>
    <table>
        <tr>
            <td>
                <div class="field-wrapper">
                    <label for="CardNumber"></label>
                    <input type="text" name="CardNumber" asp-for="pay.CardNumber">
                    <div class="field-placeholder"><span>Card Number</span></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field-wrapper">
                    <label for="CardType"></label>
                    <input type="text" name="CardType" asp-for="pay.CardType">
                    <div class="field-placeholder"><span>Card Type</span></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field-wrapper">
                    <label for="CVV"></label>
                    <input type="text" name="CVV" asp-for="pay.CVV">
                    <div class="field-placeholder"><span>CVV</span></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="field-wrapper">
                    <label for="Expiry"></label>
                    <input type="text" name="Expiry" asp-for="pay.Amount">
                    <div class="field-placeholder"><span>Expiry</span></div>
                </div>
            </td>
        </tr>
    </table>
</form>



